
<h3>Edit App Details</h3>
<div class="container">
  <mat-card-content class="">
    <div class="example-container">
        <mat-form-field appearance="standard">
          <mat-label>Name</mat-label>
          <input matInput [(ngModel)]="data.name" name="name">
        </mat-form-field>
        <mat-form-field appearance="standard">
          <mat-label>Description</mat-label>
          <textarea class="fullwidth" matInput  [(ngModel)]="data.description" name="description" rows="4"></textarea>
        </mat-form-field>
     
        <mat-form-field appearance="standard">
          <mat-label>Token</mat-label>
          <input matInput [(ngModel)]="data.token"  name="token">
        </mat-form-field>
     
        <mat-form-field appearance="standard">
          <mat-label>Rating</mat-label>
          <input matInput [(ngModel)]="data.rating"  name="rating">
        </mat-form-field>
     
        <mat-form-field appearance="standard">
          <mat-label>Downloads</mat-label>
          <input matInput [(ngModel)]="data.downloads"  name="downloads">
        </mat-form-field>
        <mat-form-field appearance="standard">
          <mat-label>App Store Link</mat-label>
          <textarea class="fullwidth" matInput [(ngModel)]="data.appstoreLink" name="appstoreLink"></textarea>
        </mat-form-field>
     
        <mat-form-field appearance="standard">
          <mat-label>Playstore Link</mat-label>
          <textarea class="fullwidth" [(ngModel)]="data.playstoreLink" matInput name="playstoreLink" ></textarea>
        </mat-form-field>
    
        <div mat-dialog-actions>
          <button mat-button >No Thanks</button>
          <button mat-button cdkFocusInitial>Ok</button>
        </div>
  
    </div>
  </mat-card-content>
</div>

