<h3>Edit App Details</h3>
<div class="create-dialog">
  <div class="container">
    <mat-card-content class="">
      <p>
        <mat-form-field appearance="standard">
          <mat-label>Name</mat-label>
          <input matInput placeholder="Name">
        </mat-form-field>
      </p>
      <p>
        <mat-form-field appearance="standard">
          <mat-label>Description</mat-label>
          <input matInput placeholder="Description">
        </mat-form-field>
      </p>
      <p>
        <mat-form-field appearance="standard">
          <mat-label>Token</mat-label>
          <input matInput placeholder="Token">
        </mat-form-field>
      </p>
      <p>
        <mat-form-field appearance="standard">
          <mat-label>IStore Link</mat-label>
          <input matInput placeholder="IStore Link">
        </mat-form-field>
      </p>
      <p>
        <mat-form-field appearance="standard">
          <mat-label>Playstore Link</mat-label>
          <input class="fullwidth" matInput placeholder="Playstore Link">
        </mat-form-field>
      </p>
    
        <div mat-dialog-actions>
          <button mat-button >No Thanks</button>
          <button mat-button cdkFocusInitial>Ok</button>
        </div>
      
    </mat-card-content>
  </div>
  
</div>