<h3>Edit Token Details</h3>
<mat-card-content class="">
  <div class="example-container">
    <form class="example-container">
      <mat-checkbox formControlName="hideRequired">Hide required marker</mat-checkbox>
      <div>
        <label>Float label: </label>
       
      </div>
    </form>

    <mat-form-field>
      <input matInput placeholder="Simple placeholder" required>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Both a label and a placeholder</mat-label>
      <input matInput placeholder="Simple placeholder">
    </mat-form-field>

    <mat-form-field>
     
      <mat-label>
        <mat-icon>favorite</mat-icon>
        <b> Fancy</b>
        <i> label</i>
      </mat-label>
    </mat-form-field>
  </div>
</mat-card-content>

<div class="create-dialog">
  <div class="container">
    <mat-card-content class="">
      <p>
        <mat-form-field appearance="standard">
          <mat-label>Rate</mat-label>
          <input matInput placeholder="Rate">
        </mat-form-field>
      </p>
      <p>
        <mat-form-field appearance="standard">
          <mat-label>{{ todayWithPipe }}</mat-label>
          <input matInput placeholder="Date">
        </mat-form-field>
      </p>
         <div mat-dialog-actions>
          <button mat-button (click)="onNoClick()" >No Thanks</button>
          <button mat-button cdkFocusInitial>Ok</button>
        </div>
      
    </mat-card-content>
  </div>
</div>